h1 {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

.quote {
  text-align: right;
  font-style: italic;
  margin: 0px;
}

.bold {
  font-weight: bold;
}

p {
  text-align: justify;
}

#info {
  background-color: lightgrey;
  width: 400px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
}

#info p {
  margin: 5px;
}

img {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
}

#name {
  font-weight: bold;
  text-align: center;
  background-color: grey;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}

.bolita {
  font-weight: bold;
  font-style: italic;
}
